<!-- <h3 class="text-center mb-3">Editando colaborador</h3> -->

<%= image_tag "blue-pen.png", size: "100",class: "rounded mx-auto d-block mb-4" %>

<%= render "updateform", colaborador: @colaborador %>

<br>

<!-- <div>
  <%= link_to "Voltar", @colaborador, class: "btn btn-secondary" %>
</div>
 -->
