<p style="color: green"><%= notice %></p>
<div class="text-center">
  <%= image_tag "folder.png", size: "182x109",class: "d-inline" %>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col">
    <div id="colaboradores">
      <div class="list-group">
        <% @colaboradores.each do |colaborador| %>
          <%= link_to "#{colaborador.nome}", colaborador, class: "list-group-item list-group-item-action border-dark", data: { turbo_frame: "modal" } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
