<div>
  <%= image_tag "ideas.png", size: "200", class: "rounded mx-auto d-block mt-5" %>  
</div>
<div>
  <%= image_tag "racoon.png", size: "400",class: "rounded mx-auto d-block" %>  
</div>

<h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
